* {
  padding: 0;
  margin: 0;
}

:root{
  --title-bg-color: 71, 33, 85;
  --sideboard-bg-color: 137, 93, 148;

  --pastel-green: 169, 215, 133;
  --pastel-blue: 109, 194, 240;
  --pastel-red: 227, 130, 130;
  --pastel-yellow: 209, 176, 91;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template: max-content max-content 1fr / 5fr 1fr;
}

/* Header */

h1 {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: rgb(var(--title-bg-color));
  color: white;
  grid-column: 1 / 3;
}

/* Nav */

nav {
  display: flex;
  padding: 0.5rem 2rem 0.5rem 4rem;
  gap: 2rem;
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

nav svg {
  display: flex;
}

nav > ul:last-child {
  margin-left: auto;
  gap: 2rem;
  width: 50%;
}

nav > button, nav > ul > li {
  cursor: pointer;
}
/* Sideboard */

.sideboard {
  padding: 2rem;
  grid-column: 2 / -1;
  grid-row: 2 / 4;
  text-align: center;
  display: grid;
  gap: 0.2rem;
  background-color: rgb(var(--sideboard-bg-color));
}

.sideboard h2 {
  color: white;
}

.sideboard h4 {
  color: black;
  cursor: pointer;
}

.sideboard > div:last-of-type h4 {
  color: white;
}

.sideboard > div:last-of-type > div {
  margin-top: 0.5rem;
  display: grid;
  gap: 0.2rem;
  overflow-y: auto;
}

/* Main */

.main {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(10%,1fr));
  grid-auto-rows: minmax(50%,1fr);
  text-align: center;
  background-color: rgb(var(--sideboard-bg-color),0.5);

}

.main > div:nth-child(1) {
  background-color: rgb(var(--pastel-green));
}

.main > div:nth-child(2) {
  background-color: rgb(var(--pastel-red));
}

.main > div:nth-child(3) {
  background-color: rgb(var(--pastel-blue));
}

.main > div:nth-child(4) {
  background-color: rgb(var(--pastel-yellow));
}

.main > div:nth-child(5) {
  background-color: rgb(var(--pastel-green));
}

.main > div:nth-child(6) {
  background-color: rgb(var(--pastel-red));
}

.main > div:nth-child(7) {
  background-color: rgb(var(--pastel-blue));
}

.main > div:nth-child(8) {
  background-color: rgb(var(--pastel-yellow));
}

/* Pop-Ups c: */

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem 1rem;
  text-align: left;
  font-size: 1.5rem;
  background-color: rgb(var(--sideboard-bg-color));
  padding: 1.5rem;
  border-radius: 2rem;
  border: 1rem solid rgb(var(--title-bg-color));
  color: white;
}

form h2 {
  grid-column: 1 / -1;
  text-align: center;
}

form input[type="text"]:nth-of-type(2) {
  height: 6rem;
}

form button {
  grid-column: 2 / -1;
  font-size: 1.2rem;
  border-radius: 1rem 0.5rem;
  padding: 0.2rem;
  width: 50%;
  justify-self: center;
}

/* project */
.project {
  display: grid;
  grid-template: max-content max-content / 1fr;
  padding: 0rem 1rem;
  grid-auto-rows: max-content;
  gap: 0.5rem;
}

/* Task */

.task {
  background-color: azure;
  border-radius: 1rem;
  border: 0.2rem solid rgb(var(--title-bg-color));
  display: flex;
  justify-content: space-around;
  padding: 0.2rem;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.task > p {
  overflow-wrap: break-word;
}
.task > div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}